!!!
html
  include includes/head
body
  .navbar.navbar-fixed-top
    .navbar-inner
      .container-fluid
        a.brand=__i('Depot')
  .container-fluid
    .row-fluid
      .span3
        .well.sidebar-nav
          ul.nav.nav-list
            li.nav-header=__i('Sidebar') 
            li
              a(href='/')=__i('Home')
            li
              a(href='/store')=__i('Store')
      .span9!=body
  script(src='/vendor/jquery-1.7.1.min.js')
  script(src='/javascripts/bootstrap.js')
  script(src='/javascripts/common.js') 
