.page-header
  h1=__i('Cart')
    | 
    small=__i('This are the products in your cart')

!=messages()

if (items && items.length)
  table.table.table-striped
    thead
      tr
        th
          span=__i('Quantity')
        th
          span=__i('Title')
        th                 
          span=__i('Price')
    tbody
      != partial('item', items);
else
  p=__i('It looks like you have no products!')
