li.span3
  .thumbnail
    a(href='/products/#{product._id}/')
      img(src="/images/#{product.image_url}")
    .btn-toolbar
    a.btn(href='/products/#{product._id}/edit') Edit
    | 
    a.btn(href='/products/#{product._id}', data-confirm=__i('Are you sure?'),
    data-header=__i('Confirmation Dialog'), data-method='DELETE', rel='nofollow') Delete
    .caption      
      h5=product.title
      p=product.description
      h5=numbers.formatMoney(product.price, __i('$'))
 
