li.span3
  .thumbnail
    a(href='/products/#{product._id}/',)
      img(src="/images/#{product.image_url}")
    .caption
      h5=product.title
      p=product.description
      p=product.price
      p
        a.btn(href='/products/#{product._id}/edit') Edit
        | 
        a.btn(href='/products/#{product._id}', data-confirm='Are you sure?', data-method='DELETE', rel='nofollow') Delete
 


