.page-header
  h1=__i('Product Details') 
    | 
    small=__i('Details about')
      | 
      strong #{product.title}

!=messages()

.row-fluid
  .thumbnail.span-one-third
    img(src=product.image_url)
  .span-one-third
    h2=product.title
    p=product.description
    h5=numbers.formatMoney(product.price, __i('$')) 
.btn-toolbar
  a.btn(href="/products")=__i('Back')
