.page-header
  h1 Product Details 
    small Details about 
        strong=product.title

!=messages()

.row
  .thumbnail.span-one-third
    img(src="/images/#{product.image_url}")
  .span-one-third
    h2=product.title
    p=product.description
    h5=numbers.formatMoney(product.price) 
.btn-toolbar
  a.btn(href="/products") Back
